@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

body{
    overflow: overlay;
}

b{
    color: red;
}

:root{
    --dark-orange--: rgb(156, 47, 0);
    --red--: rgb(192, 97, 97);
    --purple--: rgb(177, 106, 177);
    --green--: rgb(55, 120, 55);
    --pink--: rgb(223, 109, 128);
    --blue--: rgb(87, 87, 141);
}

html, body{
    height: 100%;
}

.red{
    color: var(--red--);
}

.purple{
    color: var(--purple--);
}

.green{
    color: var(--green--);
}

.pink{
    color: var(--pink--);
}

.blue{
    color: var(--blue--);
}

html{
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0e0600;
    margin: 0;
}

/* Navbar's config */

header{
    position: fixed;

    width: 100%;
    height: 70px;

    background: var(--dark-orange--);
    color: white;

    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-around; */

    font-size: 1.2rem;
    font-weight: bolder;

    z-index: 5;
}

nav{
    display: flex;
    justify-content: space-between;

    height: 70px;
    padding: 0px 20px;
}

input[type='checkbox']{
    display: none;
}

.menu-icon{
    font-size: 3.2rem;
}

.menu-icon a{
    text-decoration: none;
    color: white;
}

header ul{
    list-style-type: none;

    padding: 0;
    margin: 0;

    height: 70px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul li{
    position: relative;

    height: 100%;
    margin: 0px 20px;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    transition: 0.1s ease;
}

header ul li a{
    display: flex;
    align-items: center;

    height: 100%;

    text-decoration: none;
    color: white;

    z-index: 2;
}

label{
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

header ul li a:hover,
header ul li label:hover{
    cursor: pointer;
    color: #cfb0b0;
}

header ul li input[type='checkbox']:checked ~ .dropdown{
    visibility: visible;
}

#contact-icons{
    display: flex;
    justify-content: space-evenly;

    font-size: 3.8vh;
}

.dropdown{
    position: absolute;
    top: 70px;
    min-width: max-content;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 10px;

    background-color: rgb(170, 43, 5);
    visibility: hidden;

    font-size: 2.8vh;

    z-index: 1;
}

.dropdown:hover{
    visibility: visible;
    /* cursor: pointer; */
}

.dropdown a{
    cursor: pointer;
    padding: 5px 0px;
}

.bars{
    display: none;
    z-index: 1;
}

/* End of navbar's config */

.offset{
    margin-top: 0;
    padding-top: 70px;
}

#body{
    height: 100vh;
}

#section{
    position: relative;

    /* height: calc(100% - 70px); */
    height: auto;

    margin-bottom: -70px;
}

#img{
    position: absolute;

    /* height: calc(100% - 70px); */
    height: 100%;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    filter: brightness(50%) blur(5px);

    z-index: 0;
}

footer{
    position: relative;
    /* width: 100%; */

    background-color: var(--dark-orange--);

    color: white;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 9;
}

footer ul{
    display: flex;

    margin: 0;
    padding: 0;
    
    font-size: 2rem;
}

footer ul li{
    list-style-type: none;

    padding: 0px 20px;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

.error{
    color: rgb(255, 49, 49);
    text-shadow: 0px 0px 3px black;

    height: fit-content;

    /* margin: 10px 0 -20px 0; */

    font-size: 1.1rem;
    font-weight: 600;
}

.searchbar{
    /* visibility: hidden; */
    position: fixed;

    top: 0;
    width: 100%;
    height: 100%;

    z-index: 9;

    backdrop-filter: brightness(50%);
}

.searchbar form{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar form input{
    border: none;
    background: rgb(185, 59, 0);

    width: 30%;

    outline: none;
    /* transition: 0.2s ease; */

    padding-left: 15px;
    padding: 30px;
        
    color: white;
    font-size: 3.6vh;
}

.searchbar form input:-webkit-autofill,
.searchbar form input:-webkit-autofill:hover, 
.searchbar form input:-webkit-autofill:focus, 
.searchbar form input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 50px rgb(185, 59, 0) inset !important;
    -webkit-text-fill-color: white !important;
    /* font-size: 3.6vh; */
}

.searchbar form input::placeholder{
    color: white;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    width: 2em;

    border-radius: 5px;

    background: var(--dark-orange--);
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(100, 28, 0);
}

.responsive{
    position: relative;
}

.responsive ul li .dropdown .contact-icons{
    display: block;
    font-size: 1.6rem;
}

@media(min-width: 601px){
    header nav ul li:hover .dropdown{
        visibility: visible;
    }
}

@media(max-width: 600px){
    .bars{
        display: flex;
        align-items: center;
        padding: 0px 20px;
        font-size: 1.8rem;
    }
    header nav ul{
        display: none;
    }
    .responsive ul{
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        width: 100%;
    
    }
    .responsive ul li{
        position: relative;
        display: block;
        top: 100%;
    
        margin: 0px;
        border: 0px;
        padding-left: 20px;
    
        background-color: rgb(187, 57, 2);
    }
    .responsive ul li label{
        width: 100%;
    }
    .responsive ul li .dropdown{
        left: 0;

        width: 100%;
        padding-left: 40px;
        border-radius: 0px;

        font-size: 1.2rem;
        transition: none;
    }
    .responsive .dropdown a{
        text-align: start;

        color: rgb(209, 209, 209);
    }
    .contact-icons{
        display: block;

        font-size: 1.6rem;
    }
}